<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--  마이바티스 문법을 사용가능, namespace속성=인터페이스 풀경로  -->
<mapper namespace="com.simple.basic.TestMapper">
	<!--  id는 인터페이스에 정의된 메서드명  -->
	<!--  select는 문은 resultType으로 반환받을 타입을 지정함  -->
	<select id="getTime" resultType="string">select sysdate from dual</select>
	<!--
     파라미터 타입에는 전달되는 매개변수 타입, string, int, map, 사용자vo (생략가능)
    -->
	<!--
              파라미터 #{매개변수명} 로 받습니다 (단, 하나의 매개변수만 전달가능)
              만약 여러개를 주고싶다면, 문법이 있습니다.
    -->
<!--	<insert id="insertOne" parameterType="string">-->
<!--		insert into score(sno, name) values(score_seq.nextval, #{name} )-->
<!--	</insert>-->
<!--	&lt;!&ndash;  vo나 map타입인 경우, #{getter}  &ndash;&gt;-->
<!--	<insert id="insertTwo" parameterType="com.simple.command.ScoreVO">-->
<!--		insert into score values(score_seq.nextval, #{name}, #{kor}, #{eng}, #{math} )-->
<!--	</insert>-->

	<select id="selectTwo" resultType="map">
		select * from score where sno = #{sno}
	</select>
	<select id="selectThree" resultType="com.simple.command.ScoreVo">
		select * from score
	</select>

	<update id="update" parameterType="com.simple.command.ScoreVo">
		update score
		set name = #{name}
		,kor = #{kor}
		,eng = #{eng}
		,math = #{math}
		where sno = #{sno}
	</update>
</mapper>